<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goforer.beatery" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Allows an application to read or write the system settings. -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BEatery"
        android:allowBackup="true"
        android:icon="@drawable/ic_beatery"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.goforer.beatery.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:protectionLevel="signature"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.TermsActivity"
            android:label="@string/title_terms"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.PictureEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_profile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.EateryListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.BEatery.NoShadow" >
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.EateryInfoActivity"
            android:label="@string/title_eatery_detail_information"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/url_eatery_information"
                    android:pathPrefix="@string/url_path_eatery"
                    android:scheme="@string/url_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.beatery.com"
                    android:pathPrefix="/eatery/view"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.EateryGalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BEatery.Transparent">
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.GalleryViewerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BEatery.Transparent">
        </activity>

        <activity
            android:name="com.goforer.beatery.ui.activity.EaterySearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.goforer.beatery" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.gcm.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.gcm.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="VERSION"
            android:value="2.5" />

        <meta-data
            android:name="com.goforer.base.module.BaseGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

</manifest>
